#header {
  position: sticky;
  top: 0;
  background-color: $header_dark_bg;
  height: $header_height;
  transition: 0.3s ease-in-out;
  z-index: 999;
  //   Active Header
  &.active {
    background-color: $header_light_bg;
    // Changing nav background
    .wrapper {
      .header_content {
        nav {
          @media only screen and (max-width: $medium_screen) {
            background-color: $header_light_bg;
          }
        }
      }
    }
  }

  //   Wrapper
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex($justify: center);
    //   Header content
    .header_content {
      @include flex;
      width: 100%;
      padding: 0 $content_x_padding;
      max-width: $max_content_width;

      // Nav Bar
      nav {
        ul {
          @include flex;
          li {
            a {
              padding: 0 15px;

              &.active {
                color: $blue_color;
              }

              &:hover {
                color: $blue_color;
              }
              @include hover;
            }
          }
        }
        // max-width 1000px
        @media only screen and (max-width: $medium_screen) {
          display: none;
          overflow: hidden;
          position: absolute;
          top: 100%;
          border-radius: 0 0 0 20px;
          background-color: $header_dark_bg;
          &.active {
            right: 0;
            display: block;
            animation: animateNav 0.3s;

            @keyframes animateNav {
              from {
                right: -100%;
              }
              to {
                right: 0;
              }
            }
          }
          // ul
          ul {
            @include flex($align: end);
            flex-direction: column;
            gap: 15px;
            padding: 15px $content_x_padding 15px 40px;
            li {
              a {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
