.section1 {
  position: relative;
  width: 100%;
  height: $sention1_height;
  @include flex($justify: center);
  // h3
  h3 {
    font-size: $lg_font_size;
    width: 100%;
    max-width: $max_content_width;
    margin: auto;
    padding: 0 $content_x_padding;
    span {
      line-height: $lg_font_line_height;
    }
  }
  // Img div
  .img-div {
    position: absolute;
    top: 0;
    width: 100%;
    height: $sention1_height;
    background-color: black;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
