*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: $white_color;
  font-family: sans-serif;

  @media only screen and (max-width: $smallest_screen) {
    font-size: 6px;
  }

  @media only screen and (max-width: $small_screen) {
    font-size: 10px;
  }

  @media only screen and (max-width: $medium_screen) {
    font-size: 12px;
  }
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  overflow-x: hidden;
}
