// Colors
$white_color: rgb(244, 244, 244);
$blue_color: rgb(0, 163, 224);
$dark_bg: rgb(43, 43, 43);
$darkest_color: rgb(22, 22, 22);
$header_dark_bg: rgb(26, 30, 31);
$header_light_bg: rgba(34, 34, 34, 0.949);
$course_div_border_color: rgba(85, 85, 85, 1);
$section5_question_title_border_color: rgb(53, 49, 49);

// Spacing
$max_content_width: 63.75rem;
$content_x_padding: 1.25rem;
$header_height: 5.25rem;

$sention1_height: 22rem;

$section2_y_padding: 3.5rem;
$section2_content_gap: 2.75rem;

$section3_y_padding: 3.625rem;
$section3_gap: 4.125rem;

$course_div_height: 25.875rem;
$course_div_min_width: 12.5rem;
$course_div_max_width: 18.75rem;
$course_desc_gap: 1.563rem;
$course_desc_padding: 1rem;
$course_img_height: 9.375rem;
$courses_gap: 2.5rem 1.75rem;

$section4_btn_margin: 6.25rem;
$section4_y_padding: 2.125rem 0 5rem 0;

$section5_y_padding: 6.56rem;
$section5_title_y_padding: 2.5rem;
$section5_question_y_margin: 1rem;

// Screen Width
$smallest_screen: 28.125rem;
$small_screen: 55rem;
$medium_screen: 62.5rem;
$lg_screen: 75rem;

// Fonts
$lg_font_size: 2.5rem;
$medium_font_size: 1.75rem;

// Line height
$lg_font_line_height: 1.6rem;
