// Colors
$white_color: rgb(244, 244, 244);
$blue_color: rgb(0, 163, 224);
$dark_bg: rgb(43, 43, 43);
$header_dark_bg: rgb(26, 30, 31);
$header_light_bg: rgba(34, 34, 34, 0.949);

// Spacing
$max_content_width: 61.25rem;
$header_height: 5.25rem;

// Screen Width
$medium_screen: 62.5rem;
